<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <% if @trend == false %>
     <a class="btn"></a>
    <% end %>
<div class="drawr">
   <h2>並べ替え</h2>
    <ul id="menu">
      <li>
        <form action="/search" method="POST">
        <input type="hidden" name="word" value="<%= @word %>">
        <input type="hidden" name="sort" value="new">
        <input type="submit" value="新着順">
        </form>
      </li>
    <li><form action="/search" method="POST">
        <input type="hidden" name="word" value="<%= @word %>">
        <input type="hidden" name="sort" value="popular">
        <input type="submit" value="人気順">
        </form></li>
    </ul>
</div>
    <div class="category">
       <ul id="normal" class="dropmenu">
        <li><a href="#">動物/animal</a>
    <ul>
      <li class="#">
        <form name="menu1_1" action="/search" method="POST">
        <input type="hidden" name="word" value="animal cute" placeholder="可愛い/cute">
        <a href="javascript:menu1_1.submit()">可愛い/cute</a>
        </form>
      </li>
      <li class="#">
        <form name="menu1_2" action="/search" method="POST">
        <input type="hidden" name="word" value="animal funny" placeholder="面白い/funny">
        <a href="javascript:menu1_2.submit()">面白い/funny</a>
        </form>
      </li>
      <li class="#">
        <form name="menu1_3" action="/search" method="POST">
        <input type="hidden" name="word" value="animal cool" placeholder="カッコいい/cool">
        <a href="javascript:menu1-3.submit()">カッコいい/cool</a>
        </form>
      </li>
      <li class="#">
      <form name="menu1_4" action="/search" method="POST">
      <input type="hidden" name="word" value="animal excited" placeholder="楽しい/excited">
      <a href="javascript:menu1_4.submit()">楽しい/excited</a>
      </form>
      </li>
    </ul>
  </li>
       <li><a href="#">アニメ/anime</a>
    <ul>
      <li class="#">
      <form name="menu2_1" action="/search" method="POST">
      <input type="hidden" name="word" value="anime cute" placeholder="可愛い/cute">
      <a href="javascript:menu2_1.submit()">可愛い/cute</a>
      </form>
      </li>
      <li class="#">
      <form name="menu2_2" action="/search" method="POST">
      <input type="hidden" name="word" value="anime funny" placeholder="面白い/funny">
      <a href="javascript:menu2_2.submit()">面白い/funny</a>
      </form>
      </li>
      <li class="#">
      <form name="menu2_3" action="/search" method="POST">
      <input type="hidden" name="word" value="anime cool" placeholder="カッコいい/cool">
      <a href="javascript:menu2_3.submit()">カッコいい/cool</a>
      </form>
      </li>
      <li class="#">
      <form name="menu2_4" action="/search" method="POST">
      <input type="hidden" name="word" value="anime excited" placeholder="楽しい/excited">
      <a href="javascript:menu2_4.submit()">楽しい/excited</a>
      </form>
      </li>
    </ul>
  </li>
       <li><a href="#">人/people</a>
    <ul>
<li class="#">
      <form name="menu3_1" action="/search" method="POST">
      <input type="hidden" name="word" value="people cute" placeholder="可愛い/cute">
      <a href="javascript:menu3_1.submit()">可愛い/cute</a>
      </form>
      </li>
      <li class="#">
      <form name="menu3_2" action="/search" method="POST">
      <input type="hidden" name="word" value="people funny" placeholder="面白い/funny">
      <a href="javascript:menu3_2.submit()">面白い/funny</a>
      </form>
      </li>
      <li class="#">
      <form name="menu3_3" action="/search" method="POST">
      <input type="hidden" name="word" value="people cool" placeholder="カッコいい/cool">
      <a href="javascript:menu3_3.submit()">カッコいい/cool</a>
      </form>
      </li>
      <li class="#">
      <form name="menu3_4" action="/search" method="POST">
      <input type="hidden" name="word" value="people excited" placeholder="楽しい/excited">
      <a href="javascript:menu3_4.submit()">楽しい/excited</a>
      </form>
      </li>
    </ul>
  </li>
       <li><a href="#">スイーツ/suites</a>
    <ul>
      <li class="#">
      <form name="menu4_1" action="/search" method="POST">
      <input type="hidden" name="word" value="suites cute" placeholder="可愛い/cute">
      <a href="javascript:menu4_1.submit()">可愛い/cute</a>
      </form>
      </li>
      <li class="#">
      <form name="menu4_2" action="/search" method="POST">
      <input type="hidden" name="word" value="suites funny" placeholder="面白い/funny">
      <a href="javascript:menu4_2.submit()">面白い/funny</a>
      </form>
      </li>
      <li class="#">
      <form name="menu4_3" action="/search" method="POST">
      <input type="hidden" name="word" value="suites cool" placeholder="カッコいい/cool">
      <a href="javascript:menu4_3.submit()">カッコいい/cool</a>
      </form>
      </li>
      <li class="#">
      <form name="menu4_4" action="/search" method="POST">
      <input type="hidden" name="word" value="suites excited" placeholder="楽しい/excited">
      <a href="javascript:menu4_4.submit()">楽しい/excited</a>
      </form>
      </li>
    </ul>
  </li>
       <li><a href="#">映画/movie</a>
    <ul>
      <li class="#">
      <form name="menu5_1" action="/search" method="POST">
      <input type="hidden" name="word" value="movie cute" placeholder="可愛い/cute">
      <a href="javascript:menu5_1.submit()">可愛い/cute</a>
      </form>
      </li>
      <li class="#">
      <form name="menu5_2" action="/search" method="POST">
      <input type="hidden" name="word" value="movie funny" placeholder="面白い/funny">
      <a href="javascript:menu5_2.submit()">面白い/funny</a>
      </form>
      </li>
      <li class="#">
      <form name="menu5_3" action="/search" method="POST">
      <input type="hidden" name="word" value="movie cool" placeholder="カッコいい/cool">
      <a href="javascript:menu5_3.submit()">カッコいい/cool</a>
      </form>
      </li>
      <li class="#">
      <form name="menu5_4" action="/search" method="POST">
      <input type="hidden" name="word" value="movie excited" placeholder="楽しい/excited">
      <a href="javascript:menu5_4.submit()">楽しい/excited</a>
      </form>
      </li>
    </ul>
  </li>
         </ul>
    </div>
    </div>
    <%# 検索 %>
    <%# <div class="head"> %>
      <form action="/search" method="POST" style="text-align:center;">
        <input type="text" name="word" placeholder="search" style="border:solid 2px; margin-top: 10px; width: 450px; height: 42px;">
      </form>
        <%# <img src="search.png" alt=""> %>
   </div>
    <div class="main">
        <div class="trend">
          <div class="box"></div>
            <div style="width:100vw; margin:0">
              <%# もし、gifがあったなら %>
              <% if !@url.nil?%>
               <% count = 0 %>
                <% @url.each do |item| %>
                  <%# 4で割って余りが０の時、divで括る %>
                  <% if count % 4 == 0 %>
                    <div class="flex" align="center">
                  <% end %>
                    <img src= "<%= item["images"]["fixed_height"]["url"] %>"  >
                    <%# 毎回一ずつ増やす %>
                    <% count += 1 %>
                  <%# 4で割って余りが3の時divを閉じる＋カウントを０に戻す %>
                  <% if count % 4 == 3 %>
                    </div>
                    <% count = 0 %>
                  <% end %>
                <% end %>
              <% end %>
    </div>

        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script>
    $(function($) {
    WindowHeight = $(window).height();
    $('.drawr').css('height', WindowHeight); //メニューをwindowの高さいっぱいにする

    $(document).ready(function() {
        $('.btn').click(function(){ //クリックしたら
      if($('.drawr').is(":animated")){
        return false;
      }else{
        $('.drawr').animate({width:'toggle'}); //animateで表示・非表示
        $(this).toggleClass('peke'); //toggleでクラス追加・削除
        return false;
      }
        });
    });

  //別領域をクリックでメニューを閉じる
  $(document).click(function(event) {
    if (!$(event.target).closest('.drawr').length) {
      $('.btn').removeClass('peke');
      $('.drawr').hide();
    }
  });

});
</script>





</body>
</html>
