<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/count.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
   <div class="head">
    <div class="search">

    <form action="/search" method="POST">
      <input type="text" name="word" placeholder="search">
    </form>
        <%# <img src="search.png" alt=""> %>
   </div>
    <a class="btn"></a>
<div class="drawr">
   <h2>並べ替え</h2>
    <ul id="menu">
    <li><a href="#">新着順</a></li>
    <li><a href="#">人気順</a></li>
    <li><a href="#">急上昇</a></li>
    </ul>
</div>
    <div class="category">
       <ul id="normal" class="dropmenu">
        <li><a href="#">動物/animal</a>
    <ul>
      <li class="#">
      <form action="/search" method="POST">
      <button type="submit" name="word" value="犬" placeholder="犬/dog">
      </form>
      </li>
      <li class="#">
      <form action="/search" method="POST">
      <button type="submit" name="word" value="猫" placeholder="猫/cat">
      </form>
      </li>
      <li class="#">
      <form action="/search" method="POST">
      <button type="submit" name="word" value="ウサギ" placeholder="兎/rabbit">
      </form>
      </li>
      <li class="#">
      <form action="/search" method="POST">
      <button type="submit" name="word" value="キツネ" placeholder="狐/fox">
      </form>
      </li>
    </ul>
  </li>
       <li><a href="#">アニメ/animation</a>
    <ul>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
    </ul>
  </li>
       <li><a href="#">おもしろ/fanny</a>
    <ul>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
    </ul>
  </li>
       <li><a href="#">かわいい/pretty</a>
    <ul>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
    </ul>
  </li>
       <li><a href="#">シュ-ル/Surrealism</a>
    <ul>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
      <li><a href="#">submenu</a></li>
    </ul>
  </li>
         </ul>
    </div>
    </div>
    <div class="main">
        <div class="trend">
          <div class="box"><p>トレンド/TREND</p></div>
            <div style="width:100vw;">
              <% if !@url.nil?%>
              <% @url.each do |item| %>
                  <img src= "<%= item["images"]["fixed_height"]["url"] %>"  >
              <% end %>
              <% end %>
    </div>
         <%# <div class="gif gif1"><img class="gifcontent" src="img/gif.gif" alt=""></div>
         <div class="gif"><img class="gifcontent" src="img/gif2.gif" alt=""></div>
         <div class="gif"><img class="gifcontent" src="img/gif3.gif" alt=""></div>
         <div class="gif gif1"><img class="gifcontent" src="img/gif4.gif" alt=""></div>
         <div class="gif"><img class="gifcontent" src="img/gif5.gif" alt=""></div>
         <div class="gif"><img class="gifcontent" src="img/gif5.gif" alt=""></div> %>
        </div>
        <div>
           <div class="box"><p>ベーシック/basic</p></div>
            <div class="gif gif1"><img class="gifcontent" src="img/gif6.gif" alt=""></div>
            <div class="gif"><img class="gifcontent" src="img/gif7.gif" alt=""></div>
            <div class="gif"><img class="gifcontent" src="img/gif8.gif" alt=""></div>
            <div class="gif gif1"><img class="gifcontent" src="img/gif9.gif" alt=""></div>
            <div class="gif"><img class="gifcontent" src="img/gif9.gif" alt=""></div>
            <div class="gif"><img class="gifcontent2" src="img/gif10.gif" alt=""></div>
        </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script>
    $(function($) {
    WindowHeight = $(window).height();
    $('.drawr').css('height', WindowHeight); //メニューをwindowの高さいっぱいにする

    $(document).ready(function() {
        $('.btn').click(function(){ //クリックしたら
      if($('.drawr').is(":animated")){
        return false;
      }else{
        $('.drawr').animate({width:'toggle'}); //animateで表示・非表示
        $(this).toggleClass('peke'); //toggleでクラス追加・削除
        return false;
      }
        });
    });

  //別領域をクリックでメニューを閉じる
  $(document).click(function(event) {
    if (!$(event.target).closest('.drawr').length) {
      $('.btn').removeClass('peke');
      $('.drawr').hide();
    }
  });

});
</script>





</body>
</html>
