*{
    margin: 0;
    padding: 0;
}
.head{
    width: 100%;
    height: 55px;
}
.search{
    height: 45px;
    width: 372px;
    border: solid 2px;
    margin: 30px;
    display: inline-block;
    margin-left: 51px;
    background: #D0F4EA;
    margin: 0 100px 0 100px;
    align-items: center;

}
.gif{
    width: 350px;
    margin: 10px;
    border: solid 1px;
    height: 250px;
    float: left;
}
.gif1{
   margin-left: 80px;
}
.trend{
    overflow: hidden;
}
p{
    font-size: 25px;
    border-left: solid 5px #6C6EA0;
    margin-left: 80px;
    font-family: 'Kosugi Maru', sans-serif;
    margin-top: 10px;
}
.dropmenu{
  width: 950px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.dropmenu li{
  position: relative;
  list-style: none;
  margin: 0 20px;
}
.dropmenu li a{
  background: #47f0e8;
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}
.dropmenu li ul{
  top: 40px;
  left: -20px;
  position: absolute;
}
.dropmenu li ul li{
  width: 100%;
  overflow: hidden;
  height: 0;
}
.dropmenu li ul li a{
  border-top: 1px solid #47f0e8;
  background: #47f0e8;
  opacity: 0.5;
}
.dropmenu li:hover a{
  background: #3cbae9;
  transition: 1.0s;
}
.nav li li:hover a{
  color: olive;
  background: #afc6e2;
}
.dropmenu li:hover ul li{
  overflow: visible;
  height: 40px;
}
.search img{
    position: absolute;
    top: 8px;
    left: 335px
}
.search{
    position: relative;
}
.gifcontent{
    height: 100%;
    margin: 0 auto;
    display: block;
}
.gifcontent2{
    width: 100%;
    margin: auto 0;
    display: block;
}
.btn {
    background:transparent url(/btn.png) no-repeat 0 0;
    display: block;
    width:35px;
    height: 35px;
    position: absolute;
    top:12px;
    right:20px;
    cursor: pointer;
    z-index: 200;
}
.peke {
    background-position: -35px 0;
}
.drawr {
    display: none;
    background-color:rgba(0,0,0,0.6);
    position: absolute;
    top: 0px;
    right:0;
    width:260px;
    padding:60px 0 20px 0;
    z-index: 100;
    background: #C78283;
    opacity: 0.7
}
#menu li {
    width:260px;
    list-style: none;

}
#menu li a {
    color:#fff;
    display: block;
    padding: 20px;
    text-decoration: none;
}
.drawr h2{
    color: #fff;
    padding-left: 20px;
}

.flex{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:0 100px 0 100px;
}
.flex > *{
  min-width: 8%;
  background: #fff;
  font-size: 64px;
  text-align: center;
}
.flex,
.flex > *{
  /* border: 3px solid #aaa; */
}

body{
  background-color: #D0F4EA;
}

.category{
  padding: 9px;
  background-color: #fff;
}

#menu input{
  color: #fff
}